@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url("./assests/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    ;
    /* background: linear-gradient(135deg, #a25fff, #370073); */
    color: #fff;
}






#start-screen{
    text-align: center;
   /* background:transparent; */
    background-color: #02012a;
    
background-image: linear-gradient(315deg, #e970e37f 0%, #63a2f0a2 74%);
position: relative;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}


#game-screen {
    position: relative;
    text-align: center;
    background:transparent;
    background-image: url("./assests/jk.jpg");
     position: relative;
     padding: 20px;
     border-radius: 15px;
     border-spacing: 10px;
     box-shadow:  0 0 10px 5px rgb(0, 191, 255);
     max-width: 400px;
     width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
    font-family: monospace, sans-serif;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.previous-button:hover, .next-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.993);
}

#onstart {
    padding: 10px 20px;
    font-size: 20px;
    background:linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
    /* background: linear-gradient(135deg, #ff7e5f, #feb47b); */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    bottom: 10px;
}

#onstart:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

header h1 {
    font-size: 36px;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#question-container {
    margin-top: 10px;
    
}


#retry-btn{
    padding: 10px 20px;
    font-size: 20px;
    background:linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
    /* background: linear-gradient(135deg, #ff7e5f, #feb47b); */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    bottom: 10px;

}
#question-box {
    background: transparent;
    /* border: 2px solid #fff; */
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}

#question-box h1 {
    font-size: 24px;
    margin: 0;
}

#option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: linear-gradient(135deg, #56ab2f, #a8e063);
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.previous-button{
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: linear-gradient(135deg, #9480f5de, #c17bfe);
    
    /* gradient(135deg, #02378c, #317ef2,#02378c); */
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}
.option-button {
    background: transparent;
    border:2px solid rgb(18, 46, 252);
    box-shadow:  0 0 10px 5px rgb(0, 191, 255);
    /* border: 2px solid transparent; */
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px;
    text-align: left;
    color: white;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}





.option-button:hover {
    background: linear-gradient(135deg, #670083, #c17bfe);
    color: white;
    border: 2px solid #fff;
}

#tab-content h1 {
    font-size: 24px;
    color: #0e0000;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#description {
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    font-family: 'Quicksand', sans-serif;
}
